body {
  font-family: montserrat, sans-serif;
  background-color: LightBlue;
}

#app {
  background-color: snow;
  width: 500px;
  margin: 0 auto;
  border: 3px solid grey;
  padding: 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

#time {
  text-align: center;
  padding: 20px 0;
}

#time #value {
  font-size: 48px;
  font-weight: bold;
}

.form {
  display: flex;
  justify-content: center;
}

input[type="text"] {
  padding: 10px;
  border: solid 1px black;
  border-radius: 5px;
  width: 300px;
}

select {
  padding: 10px;
  border: solid 1px black;
  border-radius: 5px;
}

button,
input[type="submit"] {
  border: none;
  background-color: royalblue;
  color: white;
  padding: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

#tasks {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 5px;
  gap: 10px;
}

.task {
  display: flex;
  gap: 10px;
  align-items: center;
}

.task .completed {
  display: flex;
  gap: 10px;
  align-items: center;
}

.done {
  display: inline-block;
  padding: 5px;
  background-color: lightgray;
}
